<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet/less" href="@Url.Content("~/Content/Site.less")" />
	<script src="@Url.Content("~/Content/js/less-1.3.0.min.js")"></script>

	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script-->
	<script src="@Url.Content("~/Content/js/jquery-1.7.2.min.js")"></script>

	<script src="@Url.Content("~/Content/bootstrap/js/bootstrap-button.js")"></script>
	<script src="@Url.Content("~/Content/bootstrap/js/bootstrap-modal.js")"></script>
	<script src="@Url.Content("~/Content/bootstrap/js/bootstrap-transition.js")"></script>
	<script src="@Url.Content("~/Content/bootstrap/js/bootstrap-dropdown.js")"></script>

	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
	<script src="@Url.Content("~/Content/js/jquery.masonry.js")"></script>
	<script src="@Url.Content("~/Content/js/textHelpers.js")"></script>
	<script src="@Url.Content("~/Content/js/amplify.min.js")"></script>
	<script src="@Url.Content("~/Content/js/knockout-2.1.0.js")"></script>
	<script src="@Url.Content("~/Content/js/knockout-mapping-2.2.0.js")"></script>

	<script src="@Url.Content("~/Content/js/main.js")"></script>
</head>

<body>

	

	<div class="container">

		<header class="row-fluid">
			<div class="span4" id="header"><h1><span class="color">Share</span>Grid</h1></div>
			
			<nav class="span8" id="menu">
				
				<ul class="nav nav-pills pull-right">
				
					<li><a href="#login" data-toggle="modal">Login</a></li>
					<li><a href="#register" data-toggle="modal">Register</a></li>
				
					<!-- Channels dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Channels
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="@Url.Action("Index", "Channels")">Channel 1</a></li>
							<li><a href="@Url.Action("Index", "Channels")">Channel 2</a></li>
							<li><a href="@Url.Action("Index", "Channels")">Channel 3</a></li>

							<li class="divider"></li>

							<li><a href="#subscribetochannel" data-toggle="modal"><i class="icon-eye-open"></i> Subscribe to channel</a></li>
							<li><a href="#registerchannel" data-toggle="modal"><i class="icon-plus-sign"></i> Register new channel</a></li>
						</ul>
					</li>
		
					<!-- User profile dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Profile
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#userEmail" data-toggle="modal"><i class="icon-envelope-alt"></i> Change email</a></li>
							<li><a href="#userPassword" data-toggle="modal"><i class="icon-user"></i> Change password</a></li>
						</ul>
					</li>
				
				</ul>
			
			</nav>
		</header>
		
		<div id="login" class="modal fade hide">
			@Html.Partial("../Users/LoginPartial")
		</div>
		<div id="register" class="modal fade hide">
			@Html.Partial("../Users/RegisterPartial")
		</div>

		<div id="registerchannel" class="modal fade hide">
			@Html.Partial("../Channels/RegisterPartial")
		</div>

		<div id="subscribetochannel" class="modal fade hide">
			@Html.Partial("../Channels/SubscribePartial")
		</div>

		<div id="userEmail" class="modal fade hide">
			@Html.Partial("../Users/EmailPartial")
		</div>

		<div id="userPassword" class="modal fade hide">
			@Html.Partial("../Users/PasswordPartial")
		</div>

		<div id="content">
		@RenderBody()
		</div>
	</div>
</body>
</html>
